
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
.gradient-text {
  @apply bg-gradient-to-r from-pink-400 via-pink-300 to-pink-500 text-transparent bg-clip-text;
}
